/* GENERICS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Whitney", "Helvetica Neue", "Helvetica", Arial, sans-serif;
}

.clearfix {
    display: table;
    clear: both;
    content: "";
}

.container {
    width: 70%;
    margin: 0 auto;
}
/* UTILITIES */

.text-white {
    color: white;
}

.text-black {
    color: black;
}

.float {
    float: left;
}
.w-20{
    width: 20%;
}

.w-60{
    width: 60%;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.btn {
    text-decoration: none;
    border-radius: 30px;
}

.btn-white {
    background-color: white;
}

.btn-small {
    padding: 12px 15px;
}
/* HEADER */
#topbar {
    height: 80px;
    background-color: #255EE9;
}

#logo {
    vertical-align: middle;
    height: 40px;
}

.container > *, nav ul li {
    display: inline-block;
    line-height: 80px;
}

nav ul li a {
    margin: 0 10px;
    font-size: 18px;
}

/* JUMBOTRON */

#jumbotron {
    background-image: url("../img/jumbo.png");
    height: 700px;
    background-position: center;
    background-size: cover;
}

.contained {
    width: 50%;
    margin: 0 auto;
}