/* GENERICS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Whitney", "Helvetica Neue", "Helvetica", Arial, sans-serif;
}

.clearfix {
    display: table;
    clear: both;
    content: "";
}

.container {
    max-width: 70%;
    margin: 0 auto;
}
/* UTILITIES */

