/* GENERICS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Whitney", "Helvetica Neue", "Helvetica", Arial, sans-serif;
}

.clearfix {
    display: table;
    clear: both;
    content: "";
}

.container {
    width: 70%;
    margin: 0 auto;
}

.text-white {
    color: white;
}

.text-black {
    color: black;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.w-18 {
    width: 18%;
}

.w-20{
    width: 20%;
}

.w-28 {
    width: 28%;
}

.w-60{
    width: 60%;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.btn {
    text-decoration: none;
    border-radius: 30px;
    padding: 15px 20px;
}

.btn-white {
    background-color: white;
}

.btn-black {
    background-color: black;
}

.btn-violet {
    background-color: #8EA1E1;
}

.btn-white:hover, .btn-black:hover, .btn-violet:hover {
    color: blue;
}

.title-size {
    font-size: 65px;
}

.title-size-main {
    font-size: 48px;
}

.paragraph-size {
    font-size: 24px;
    line-height: 35px;
}

.paragraph-size-main {
    font-size: 20px;
}
/* HEADER */
#topbar {
    height: 80px;
    background-color: #255EE9;
}

#logo {
    vertical-align: middle;
    height: 40px;
}

.container > *, nav ul li {
    display: inline-block;
    line-height: 80px;
}

nav ul li a {
    margin: 0 10px;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* JUMBOTRON */

#jumbotron {
    background-image: url("../img/jumbo.png");
    height: 600px;
    background-position: center;
    background-size: cover;
}

.contained {
    width: 50%;
    margin: 0 auto;
}

.jumbo-text {
    padding: 100px 0;
}

.jumbo-text > * {
    margin: 40px 0;
}

.jumbo-text > div > a:first-child {
    margin-right: 60px;
}

.jumbo-text > div > a {
    font-size: 22px;
}

/* MAIN */

section {
    height: 1000px;
    width: 100%;
    position: relative;
}

.section {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.section > div {
    width: 30%;
    height: 100%;
}

.section > img {
    width: 60%;
    height: 100%;
}

main  h2 {
    line-height: 60px;
    padding-top: 40px;
    margin-bottom: 20px;
}

main  p {
    line-height: 30px;
}

/* LAST SECTION  */

.last-section {
    margin-bottom: 100px;
}

.last-section .section-description {
    width: 80%;
    margin: 0 auto;
}

.last-section img {
    width: 80%;
    margin: 0 auto;
}

.last-section > div > h2 {
    background-image: url(../img/stars.svg);
    background-size: cover;
    width: 50%;
    margin: 0 auto;
    font-size: 35px;
}

.last-section > div a {
    font-size: 25px;
}

/* FOOTER */

footer {
    height: 700px;
    background-color: #23272A;
}

.row {
    margin-top: 70px;
}

footer > div > div, footer > div > hr {
    width: 100%;
}

hr {
    width: 100%;
    border-color: #8EA1E1;
    margin: 20px 0;
}

#register {
    margin: 20px 0;
}

.w-28 > *, .w-18 > * {
    line-height: 35px;
}

.col > h2 {
    font-size: 40px;
}

.col > h4:first-child, .col > h2 {
    color: #7289DA;
}

#info .language {
    margin-top: 30px;
}

#info img {
    height: 25px;
    vertical-align: middle;
}

#info h5 {
    display: inline-block;
    line-height: 25px;
}

#info i {
    font-size: 20px;
    margin-right: 20px;
}

#register {
    height: 50px;
    width: 100%;
    position: relative;
}

#register > * {
    display: inline-block;
}

#register img {
    vertical-align: middle;
}

#register a {
    position: absolute;
    right: 0;
    line-height: 20px;
}