/* GENERICS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Whitney", "Helvetica Neue", "Helvetica", Arial, sans-serif;
}

.clearfix {
    display: table;
    clear: both;
    content: "";
}

.container {
    width: 70%;
    margin: 0 auto;
}
/* UTILITIES */

.text-white {
    color: white;
}

.text-black {
    color: black;
}

.float {
    float: left;
}
.w-20{
    width: 20%;
}

.w-60{
    width: 60%;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.btn {
    text-decoration: none;
    border-radius: 30px;
    padding: 15px 20px;
}

.btn-white {
    background-color: white;
}

.btn-black {
    background-color: black;
}

.btn-black:hover, .btn-white:hover {
    color: blue;
}

.title-size {
    font-size: 65px;
}

.paragraph-size {
    font-size: 24px;
    line-height: 35px;
}
/* HEADER */
#topbar {
    height: 80px;
    background-color: #255EE9;
}

#logo {
    vertical-align: middle;
    height: 40px;
}

.container > *, nav ul li {
    display: inline-block;
    line-height: 80px;
}

nav ul li a {
    margin: 0 10px;
    font-size: 18px;
}

/* JUMBOTRON */

#jumbotron {
    background-image: url("../img/jumbo.png");
    height: 600px;
    background-position: center;
    background-size: cover;
}

.contained {
    width: 50%;
    margin: 0 auto;
}

.jumbo-text {
    padding: 100px 0;
}

.jumbo-text > * {
    margin: 40px 0;
}

.jumbo-text > div > a:first-child {
    margin-right: 60px;
}

.jumbo-text > div > a {
    font-size: 22px;
}